.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:white;
}

/* .form-container, .login, .register {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  padding: 0.20rem 0;

}

input {
  margin: 0.5rem 0;
}

button {
  background-color: white;
  padding: 20px;
  border: 5px;
} */