/* Register */

.form-container {
    background-color: #5085A5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

.thrivechat {
    color: #264255;
    font-size: 400%;
    display: flex;
    font-display: column;
    justify-content: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.title {
    color: white;
    display: flex;
    font-display: column;
    justify-content: center;
    font-size: 30px;
    padding: 2%;
}

form {
    font-display: column;
    background-color: #31708E;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-display: auto;
}

.signup-button, .login-button {
    align-items: center;
    background-color: #275265;
    padding: 15px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
    /* display: flex;
  background-color: white;
  align-items: center;
  border: 20px black;
  gap: 10px;

  padding: 10px; */

}

.signup-login {
    display: flex;
    justify-content: center;
    font-size: small;
    color: white;
    padding-top: 10px;

}

.input-name,
.input-email,
.input-password {
    padding: 15px;
    border: none;
    width: 250px;
    border-bottom: 1px solid black;
}

/* unvisited link */
a:link {
    font-weight: bold;
    color: White;
    padding: 0 0 0 1%;
    
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #8FC1E3;
}

/* selected link */
a:active {
    color: #8FC1E3;
}

.home{
    background-color:  #5085A5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container {
    border: none;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
     
}

.sidebar{
    flex: 1;
    background-color: #31708E;
}


.navbar{
    display: flex;
    align-items: center;
    background-color: #355a71
    ;
;
    height: 50px;
    padding: 10px;
    justify-content: space-between;

}

.logo{
    font-weight: bold;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.user{
    display: flex;
    gap: 10px;
    color: white;
}

.img{
    background-color:#687864;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    object-fit: cover;
}

.button{
    background-color: rgb(82, 113, 113);
    color:#687864 

}


/* search.jxc */
.search {
    border-bottom: 1px solid grey;
}

.search-form {
    padding: 10px;

}

.search-form > input {
    background-color: transparent;
    border: none;
    color: black;
    outline: black;
    width: 100%;


}

.user-chats {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    cursor: pointer;
    
}

.user-chats:hover {
    background-color: #687864;
}

.user-chats-info > span {
    font-size: 18px;
    font-weight: 500;

}

.user-chats-info > p {
    font-size: 14px;
    color: #31708E;
}

.chat-icons{
    display: flex;
    gap: 15px;
}

/* Main chat container: chat.jsx */
.chat {
    flex: 2;

} 

.chat-info {
    height: 50px;
    background-color: #F7F9FB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: black;
}

.noConvo {
    padding: 10px;
    height: 100%;
    overflow: scroll;
    font-size: 50px;
    text-align: center;
    color: rgb(224, 220, 220);
    cursor: default;
  }


/* ChatMessages.jsx */


.chat-messages {
    background-color: #8FC1E3;
    padding: 10px;
    height: calc(100% - 160px);
    overflow: scroll;
}



/* Input.jsx */

.input-container {
    height: 50px;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-container > input {
    width: 100%;
    border: none;
    outline: none;
    color: black;
    font-size: 18px;
}

.input-container::placeholder {
    color: black;
    width: 100%;
}

.input-container > button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10%;
    font-size: 18px;
    padding: 20px 20px;
    color: white;
    background-color: grey;
}

/* Message.jsx */

.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .messageTop{
      display: flex;
  }
  
  .messageImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .messageText{
      padding: 10px;
      border-radius: 20px;
      background-color: #1877f2;
      color: white;
      max-width: 300px;
  }
  
  .messageBottom{
      font-size: 12px;
      margin-top: 10px;
  }
  
  .message.own{
      align-items: flex-end;
  }
  
  .message.own .messageText{
      background-color: rgb(245, 241, 241);
      color: black;
  }